.app-color {
  background: #1787fb;
}

.fw-500 {
  font-weight: 500;
}

.global-container {
  margin: auto;
  width: 100%;
}

.navigation-active {
  border-bottom: 2px solid white;
  box-shadow: 0 4px 2px -2px rgba(0,0,0,0.15)!important;
}

.navigation-menu {
  color: white;
  font-size: 22px;
}

.form-login{
  padding: 35px;
}

.navigation-menu > a {
  color: inherit;
  cursor: pointer;
}

.navigation-menu > a:hover {
  color: inherit;
}

.search-button {
  background: white;
  color: gray;
  border: gray;
  border-radius: 0;
  height: 38px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.time {
  font-size: 12px;
}

.user-photo {
  height: 50px;
  height: 50px;
}

/* Search */

.search-results {
  position: absolute;
  z-index: 9999;
  width: 100%;
  margin-top: 0.5px !important;
}

.search-results-item {
  width: 87%;
  margin: auto;
  background: white;
  border: 1px solid black;
  border-radius: 5px;
  padding: 8px 0px;
}

/* End Search */
