@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.app-color {
  background: #141E30;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.fw-500 {
  font-weight: 500;
}

.global-container {
  margin: auto;
  width: 100%;
}

.navigation-active {
  border-bottom: 2px solid white;
  box-shadow: 0 4px 2px -2px rgba(0,0,0,0.15)!important;
}

.navigation-menu {
  color: white;
  font-size: 22px;
}

.search-input{
  border-radius: 100px;
  padding: 5px 16px;
  width: 50%;
  height: 50%;
  margin-bottom: 15px;
}

.search-input.active {
  width: 70%;
}

.form-login{
  padding: 35px;
}

.navigation-menu > a {
  color: inherit;
  cursor: pointer;
}

.navigation-menu > a:hover {
  color: inherit;
}

.search-button {
  background: white;
  color: gray;
  border: gray;
  border-radius: 0;
  height: 38px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.time {
  font-size: 12px;
}

.user-photo {
  height: 50px;
  width: 50px;
}

.mat-tab-label  {
  min-width: 100% !important;
}
.mat-tab-labels {
  width: 33%;
}

/* Search */

.search-results {
  position: absolute;
  z-index: 9999;
  width: 100%;
  margin-top: 0.5px !important;
}

.search-results-item {
  width: 87%;
  margin: auto;
  background: white;
  height: auto !important;
  border-radius: 2px;
  border-bottom: 1px solid;
  border-right: 1px solid;
  border-left: 1px solid;
  border-color: rgba(0,0,0,.30);
  padding: 8px 0px;
}

/* End Search */
