<div class="app-color">

  <div class="row pt-3 ml-4 mr-4">
    <div class="col-sm-12">
      <input type="text" class="form-control" placeholder="Search...">
    </div>
  </div>
  <div class="row pt-3 ml-2 mr-2 text-center navigation-menu">
    <div class="col-sm-4 navigation-active">
      <i class="fa fa-home"></i>
    </div>
    <div class="col-sm-4">
      <i class="fa fa-users"></i>
    </div>
    <div class="col-sm-4">
      <i class="fa fa-cog"></i>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
