%top-bg-color {
  background: #485563 !important;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #29323c, #485563) !important;  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #29323c, #485563) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

%bg-color {
  background: #ECE9E6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

body {
  @extend %bg-color;
  margin: 0px;
}

.container {
  margin: auto;
  width: 1000px;
}

.container-tabs {
  margin-top: 25px;
  margin-bottom: 100px;
}

.color-white {
  color: white !important;
}

.navigation-bar {
  height: 80px;
  margin: auto;
  width: 100%;
}

.nav-bar-color{
  @extend %top-bg-color;
}

.login-container {
  margin: auto;
  width: 767px;
}

.search-input {
  border-radius: 100px;
  padding: 5px 10px;
  width: 265px;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.pull-right {
  float: right;
}

.dialog-title {
  @extend %top-bg-color;
  color: white !important;
  margin-bottom: 10px !important;
}

.pull-left {
  float: left;
}

.expand-arrow > svg {
  vertical-align: middle;
}

.vertical-center {
  position: relative;
  top: 50%;
  transform: perspective(1px) translateY(-50%);
}

/* SEARCH */
.nav-tabs > div:nth-child(3) > div {
  position: initial !important;
}

.search-container {
  min-height: 70px;
  clear: both;
  z-index: 2;
}

.search-result-expand {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 10px, rgba(0, 0, 0, 0.23) 0px 0px 0px;
  margin-bottom: 1px;
  color: rgba(0, 0, 0, 0.87);
  background-color: rgb(255, 255, 255);
}

.search-result-expand.active {
  padding: 15px;
}

.clear-both {
  clear: both;
}

.search-results {
  margin-top: 5px;
  position: absolute;
  width: 80%;
  left: 10%;
}

.position-relative {
  position: relative;
}

.preview .user-photo {
  width: 75px;
  height: 75px;
  margin: auto;
  margin-bottom: 5px;
}

.preview .separator {
  margin-bottom: 10px;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 1px solid black;
}

.preview .avatar {
  width: 75px;
  height: 75px;
}

.cursor-pointer {
  cursor: pointer;
}

%border-bottom {
  border-bottom: 1px solid lightgray;
}

%border-top {
  border-top: 1px solid lightgray;
}
%border-left {
  border-left: 1px solid lightgray;
}
%border-right {
  border-right: 1px solid lightgray;
}

%border {
  @extend %border-top;
  @extend %border-bottom;
  @extend %border-left;
  @extend %border-right;
}

.preview .user-name span:hover {
  @extend %border-bottom;
}

.separator.bordered{
  @extend %border-bottom;
}

.pull-none {
  float: none !important;
}

.inline-block {
  display: inline-block;
}

/* CONVERSATIONS */
.conversation-card {
  min-height: 60px;
  flex-wrap: wrap;
  display: flex;
  padding: 10px 15px;
}

%inline-flex {
  display: inline-flex;
}

.conversation-card .photo {
  @extend %inline-flex;
  width: 15%;
}

.conversation-card .message {
  @extend %inline-flex;
  flex-wrap: wrap;
  width: 70%;
}

.configuration-card {
  cursor: pointer;
  padding: 15px;
}

%conversation-card-mt {
  margin-top: 1rem;
}

.conversation-card .actions {
  @extend %conversation-card-mt;
  @extend %inline-flex;
  width: 15%;
}

.conversation-card .conversation-person,
.conversation-card .conversation-message{
  @extend %conversation-card-mt;
}

%conversation-card-selected-mt {
  margin-top: 1rem;
}

.conversation-card-selected .conversation-card .actions {
  @extend %conversation-card-selected-mt;
}

.conversation-card-selected .conversation-card .conversation-person,
.conversation-card-selected .conversation-card .conversation-message{
  @extend %conversation-card-selected-mt;
}

/* Conversation selected */

%conversation-bg-color {
  background: #ADA996;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

%midnight-bg-color {
  background: #232526;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.container-conversation-selected {
  @extend %conversation-bg-color;
  @extend %border-top;
  @extend %border-left;
  @extend %border-bottom;
  height: 500px;
}

.conversation-card-selected {
  display: inline-block;
  width: calc(25% + 20px);
  padding: 10px;
}

.conversation-view {
  @extend %border-left;
  background: white;
  width: calc(75% - 22px);
  height: 100%;
  display: inline-block;
  vertical-align: top;
}

%conversation-view-padding {
  padding: 10px 15px;
}

.conversation-view .title {
  @extend %border;
  @extend %conversation-view-padding;
}

.conversation-view .body {
  @extend %conversation-view-padding;
  @extend %border-bottom;
  height: 350px;
  overflow-y: auto;
}

.conversation-view .footer {
  @extend %conversation-view-padding;
  height: 70px;
}

%message-single{
  padding: 10px 15px;
  border-radius: 30px;
  margin-bottom: 10px;
  width: 65%;
}

.message-right {
  @extend %message-single;
  @extend %midnight-bg-color;
  text-align: right;
  margin-left: auto;
  color: white;
}

.message-left {
  @extend %conversation-bg-color;
  @extend %message-single;
  text-align: left;
  margin-right: auto;
}

.conversation-view .title {
  @extend %border;
  padding: 15px;
}

.conversation-card-selected .conversation-card {
  padding: 0px;
  display: block;
  flex-wrap: inherit;
  width: 100%;
}

.conversation-card-selected .conversation-card .photo {
  width: 20%;
  display: block;
  float: left;
}

.conversation-card-selected .conversation-card .message {
  display: block;
  float: left;
  margin-left: 25px;
}

/* COLS */
@mixin generate-col($col) {
  float: left;
  padding-left: 1%;
  padding-right: 1%;
  width: 8.3333333333% * $col - 2%;
}
.col-1 {
  @include generate-col(1);
}

.col-2 {
  @include generate-col(2);
}

.col-3 {
  @include generate-col(3);
}

.col-4 {
  @include generate-col(4);
}

.col-5 {
  @include generate-col(5);
}

.col-6 {
  @include generate-col(6);
}

.col-7 {
  @include generate-col(7);
}

.col-8 {
  @include generate-col(8);
}

.col-9 {
  @include generate-col(9);
}

.col-10 {
  @include generate-col(10);
}

.col-11 {
  @include generate-col(11);
}

.col-12 {
  @include generate-col(12);
}

@mixin generate-offset-col($col) {
  margin-left: 8.3333333333% * $col;
}

.col-offset-1 {
  @include generate-offset-col(1);
}

.col-offset-2 {
  @include generate-offset-col(2);
}

.col-offset-3 {
  @include generate-offset-col(3);
}

.col-offset-4 {
  @include generate-offset-col(4);
}

.col-offset-5 {
  @include generate-offset-col(5);
}

.col-offset-6 {
  @include generate-offset-col(6);
}

.col-offset-7 {
  @include generate-offset-col(7);
}

.col-offset-8 {
  @include generate-offset-col(8);
}

.col-offset-9 {
  @include generate-offset-col(9);
}

.col-offset-10 {
  @include generate-offset-col(10);
}

.col-offset-11 {
  @include generate-offset-col(11);
}

.col-offset-12 {
  @include generate-offset-col(12);
}
