.dialog-title, .nav-bar-color {
  background: #485563 !important;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #29323c, #485563) !important;
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #29323c, #485563) !important;
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

body {
  background: #ECE9E6;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFFFFF, #ECE9E6);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

body {
  margin: 0px;
}

.container {
  margin: auto;
  width: 1000px;
}

.container-tabs {
  margin-top: 25px;
  margin-bottom: 100px;
}

.color-white {
  color: white !important;
}

.navigation-bar {
  height: 80px;
  margin: auto;
  width: 100%;
}

.login-container {
  margin: auto;
  width: 767px;
}

.search-input {
  border-radius: 100px;
  padding: 5px 10px;
  width: 265px;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.pull-right {
  float: right;
}

.dialog-title {
  color: white !important;
  margin-bottom: 10px !important;
}

.pull-left {
  float: left;
}

.expand-arrow > svg {
  vertical-align: middle;
}

.vertical-center {
  position: relative;
  top: 50%;
  transform: perspective(1px) translateY(-50%);
}

/* SEARCH */
.nav-tabs > div:nth-child(3) > div {
  position: initial !important;
}

.search-container {
  min-height: 70px;
  clear: both;
  z-index: 2;
}

.search-result-expand {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 10px, rgba(0, 0, 0, 0.23) 0px 0px 0px;
  margin-bottom: 1px;
  color: rgba(0, 0, 0, 0.87);
  background-color: white;
}

.search-result-expand.active {
  padding: 15px;
}

.clear-both {
  clear: both;
}

.search-results {
  margin-top: 5px;
  position: absolute;
  width: 80%;
  left: 10%;
}

.position-relative {
  position: relative;
}

.preview .user-photo {
  width: 75px;
  height: 75px;
  margin: auto;
  margin-bottom: 5px;
}

.preview .separator {
  margin-bottom: 10px;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 1px solid black;
}

.preview .avatar {
  width: 75px;
  height: 75px;
}

.cursor-pointer {
  cursor: pointer;
}

.conversation-view .body, .container-conversation-selected, .separator.bordered, .preview .user-name span:hover, .conversation-view .title {
  border-bottom: 1px solid lightgray;
}

.container-conversation-selected, .conversation-view .title {
  border-top: 1px solid lightgray;
}

.conversation-view, .container-conversation-selected, .conversation-view .title {
  border-left: 1px solid lightgray;
}

.conversation-view .title {
  border-right: 1px solid lightgray;
}

.pull-none {
  float: none !important;
}

.inline-block {
  display: inline-block;
}

/* CONVERSATIONS */
.conversation-card {
  min-height: 60px;
  flex-wrap: wrap;
  display: flex;
  padding: 10px 15px;
}

.conversation-card .actions, .conversation-card .message, .conversation-card .photo {
  display: inline-flex;
}

.conversation-card .photo {
  width: 15%;
}

.conversation-card .message {
  flex-wrap: wrap;
  width: 70%;
}

.configuration-card {
  cursor: pointer;
  padding: 15px;
}

.conversation-card .conversation-person,
.conversation-card .conversation-message, .conversation-card .actions {
  margin-top: 1rem;
}

.conversation-card .actions {
  width: 15%;
}

.conversation-card-selected .conversation-card .conversation-person,
.conversation-card-selected .conversation-card .conversation-message, .conversation-card-selected .conversation-card .actions {
  margin-top: 1rem;
}

/* Conversation selected */
.message-left, .container-conversation-selected {
  background: #ADA996;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.message-right {
  background: #232526;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #414345, #232526);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #414345, #232526);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container-conversation-selected {
  height: 500px;
}

.conversation-card-selected {
  display: inline-block;
  width: calc(25% + 20px);
  padding: 10px;
}

.conversation-view {
  background: white;
  width: calc(75% - 22px);
  height: 100%;
  display: inline-block;
  vertical-align: top;
}

.conversation-view .footer, .conversation-view .body, .conversation-view .title {
  padding: 10px 15px;
}

.conversation-view .body {
  height: 350px;
  overflow-y: auto;
}

.conversation-view .footer {
  height: 70px;
}

.message-left, .message-right {
  padding: 10px 15px;
  border-radius: 30px;
  margin-bottom: 10px;
  width: 65%;
}

.message-right {
  text-align: right;
  margin-left: auto;
  color: white;
}

.message-left {
  text-align: left;
  margin-right: auto;
}

.conversation-view .title {
  padding: 15px;
}

.conversation-card-selected .conversation-card {
  padding: 0px;
  display: block;
  flex-wrap: inherit;
  width: 100%;
}

.conversation-card-selected .conversation-card .photo {
  width: 20%;
  display: block;
  float: left;
}

.conversation-card-selected .conversation-card .message {
  display: block;
  float: left;
  margin-left: 25px;
}

/* COLS */
.col-1 {
  float: left;
  padding-left: 1%;
  padding-right: 1%;
  width: 6.3333333333%;
}

.col-2 {
  float: left;
  padding-left: 1%;
  padding-right: 1%;
  width: 14.6666666666%;
}

.col-3 {
  float: left;
  padding-left: 1%;
  padding-right: 1%;
  width: 23%;
}

.col-4 {
  float: left;
  padding-left: 1%;
  padding-right: 1%;
  width: 31.3333333332%;
}

.col-5 {
  float: left;
  padding-left: 1%;
  padding-right: 1%;
  width: 39.6666666665%;
}

.col-6 {
  float: left;
  padding-left: 1%;
  padding-right: 1%;
  width: 47.9999999998%;
}

.col-7 {
  float: left;
  padding-left: 1%;
  padding-right: 1%;
  width: 56.3333333331%;
}

.col-8 {
  float: left;
  padding-left: 1%;
  padding-right: 1%;
  width: 64.6666666664%;
}

.col-9 {
  float: left;
  padding-left: 1%;
  padding-right: 1%;
  width: 72.9999999997%;
}

.col-10 {
  float: left;
  padding-left: 1%;
  padding-right: 1%;
  width: 81.333333333%;
}

.col-11 {
  float: left;
  padding-left: 1%;
  padding-right: 1%;
  width: 89.6666666663%;
}

.col-12 {
  float: left;
  padding-left: 1%;
  padding-right: 1%;
  width: 97.9999999996%;
}

.col-offset-1 {
  margin-left: 8.3333333333%;
}

.col-offset-2 {
  margin-left: 16.6666666666%;
}

.col-offset-3 {
  margin-left: 25%;
}

.col-offset-4 {
  margin-left: 33.3333333332%;
}

.col-offset-5 {
  margin-left: 41.6666666665%;
}

.col-offset-6 {
  margin-left: 49.9999999998%;
}

.col-offset-7 {
  margin-left: 58.3333333331%;
}

.col-offset-8 {
  margin-left: 66.6666666664%;
}

.col-offset-9 {
  margin-left: 74.9999999997%;
}

.col-offset-10 {
  margin-left: 83.333333333%;
}

.col-offset-11 {
  margin-left: 91.6666666663%;
}

.col-offset-12 {
  margin-left: 99.9999999996%;
}

/*# sourceMappingURL=index.css.map */
