<form (ngSubmit)="onLogin()" #authForm="ngForm" class="form-login">

  <alert [list]="options.validationErrors"></alert>

  <div class="form-group" [ngClass]="{'mat-form-field-invalid': !email.valid && options.isLoginFormSubmitted}">
    <mat-form-field class="col-sm-12">
      <input matInput placeholder="Email Address"
             #email="ngModel" [(ngModel)]="authUser.email" name="email" autofocus>
    </mat-form-field>
  </div>

  <div class="form-group" [ngClass]="{'mat-form-field-invalid': !password.valid && options.isLoginFormSubmitted}">
    <mat-form-field class="col-sm-12">
      <input matInput type="password" placeholder="Password"
             #password="ngModel" [(ngModel)]="authUser.password" name="password">
    </mat-form-field>
  </div>

  <div class="form-group text-center">
    <button mat-button class="mat-raised-button mat-primary col-sm-7">Sign in</button>
  </div>
</form>
