<search-users></search-users>
<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon matSuffix>home</mat-icon>
    </ng-template>

    <conversations></conversations>

  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon matSuffix>group</mat-icon>
    </ng-template>
    <groups></groups>
  </mat-tab>


  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon matSuffix>settings</mat-icon>
    </ng-template>
    <groups></groups>
  </mat-tab>

</mat-tab-group>
